<!DOCTYPE html>
<html data-ng-app='waiAssignment'>
    <head>
        <title>wai-assignment</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="resources/css/app.css" />
    </head>
    <body>
      <div id="page">
        <section data-ng-controller="IndexController">
            <!-- use double braces to refer to a property defined in IndexController -->
            <h1>{{title}}</h1>
        </section>
        <article data-ng-controller="CourseController" data-ng-include="'js/partials/course-list.html'"></article>
        <article data-ng-view></article>
      </div>
         
      <!-- load the basic angular libraries, though initially we'll only need the first two -->
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.js"></script>
 
      <!-- link to our application files -->
      <script src="js/app.js"></script>
      <script src="js/controllers.js"></script>
      <script src="js/services.js"></script>   
    </body>
</html>