/**
* @author Rob Davis
* Created on : 01-Oct-2014, 15:37:21
*/
*, html {
    box-sizing: border-box;
 }
 
 body {
     font-family: arial, helvetica, sans-serif;
     margin: 0;
     padding: 0;
     font-size: 80%;
     background-color: #dce5ec;
 }
 
 h1, h2 {
     border-bottom: thin solid #ccc;
 }
 
 #page {
     width: 90%;
     margin: 1em auto;
     border: 1px solid #ccc;
     padding: 0.25em 0.5em;
     overflow: auto;
     background-color: white;
     border-radius: 8px;
 }
 /* the course title */
 #page > section > h2 {
     text-align: right;
     font-style: italic;
     color: red;
     font-size: 1rem;
 }
 
 /* contains the course and student list */
 .displayParent {
    display: flex;
    justify-content: flex-start;
 }
 #page > .displayParent > article {
     flex: 1 100%;
 }
 /* should get the course list and the student list */
 #page > article {
   width: auto;
 }
 /* gets the course list */
 #page > .displayParent > article:first-of-type {
     margin-right: 1em;
     min-width: 45%;
 }
 
 #page > .displayParent > article:nth-child(2) {
     padding-top: 1px;
 }
 
 #page article > section > aside ul{
    
     border: thin solid #ccc;
     border-width: 1px 0;
     margin: 1em 0;
     padding: 0.5em;
     list-style-type: none;
 }
 
 #page article > section aside ul li {
    margin: 1em 0;
    font-style: italic;
 }
 
 table.link {
    margin-top: 1em;
 }
 
 #page > div > article:nth-child(2) > section > table > caption {
    margin-bottom: 0.25em;
 }
 
 /* navigation section */
 
 nav ul {
     padding: 0;
     border-bottom: 1px solid #ccc;
 }
 nav li {
     list-style-type: none;
     display: inline-block;
     margin: 0;
     border: thin solid #ccc;
     border-width: 1px 1px 0 0;
 }
 nav li:first-child {
     border-left: thin solid #ccc;
 }
 nav li a {
     text-decoration: none;
     display: block;
     padding: 0.25em 1em;
 }
 nav li a:hover {
     background-color: #D2E4FC;
 }
 
 /* add some styling for tables */
 table {
     margin: 0 0 1em 0;
     border: 1px solid #ddd;
     border-collapse:collapse;
     border-spacing:0;
     width: 100%;
 }
 tr {
     overflow:hidden;
     word-break:normal;
     border-color:#aabcfe;
     color:#669;
     background-color:#D2E4FC;
 }
 tr:nth-child(odd) {
     background-color: #e8edff;
 }
 th {
     font-weight: bold;
 }
 th, td {
     text-align: left;
     border:1px solid #aabcfe;
     padding: 0.25em 0.5em;
 }
 td a {
     text-decoration: none;
     display: block;
 }
 table caption {
     text-align: right;
     font-style: italic;
 }
 
 table.link td {
     cursor: pointer;
 }
 
 .selected, .selected a {
     color: red !important;
     font-style: italic;
 }
 
 .part {
     float: left;
     width: 45%;
 }
 
 .shadow {
     box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
     -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
     -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
 }
 
 .editor {
     position:absolute;
     background-color:white;
     border: thin solid black;
     padding:0.5em;
 }
 
 #studentEditor form {
     width: 40em;
 }
 
 #studentEditor form label {
     float: left;
     width: 12em;
     text-align: right;
     padding-right: 1em;
 }
 
 #studentEditor form input {
     display: block;
     width: 25em;
     margin: 0 0 1em 0;
 }
 
 @media screen and (max-width: 1000px) {
    #page > .displayParent {
        flex-direction: column;
    }
 }