<section>
    <select  ng-model="category" ng-change="selectCourse($event, category.category_id)" 
        data-ng-options="course as course.name for course in courses">
        <option value="">Select Category</option>
    </select>      
    <table>
        <tr data-ng-repeat="course in courses"
            data-ng-click="selectCourse($event, course)"
            data-ng-class="{'selected':selectedCourse.coursecode===course.coursecode}"
            style="cursor: pointer;">
            <td>{{course.title}}</td>
            <td>{{course.description.substring(0,100)}}</td>
            <td>{{course.release_year}}</td>
            <td>{{course.name}}</td>
            <td>{{course.rating}}</td>
            <td>{{course.last_update}}</td>
        </tr>
    </table>
</section>