<section style="position:relative;">
    <div data-ng-show="editorVisible"
         data-ng-include="'js/partials/student-edit.html'"
         id="studentEditor"
         class='editor shadow'>
    </div>
    <table class="link">
    <caption>{{studentCount}}</caption>
    <tr><th>StudentID</th><th>First Name</th><th>Surname</th><th>Email</th></tr>
    <tr ng-repeat="student in students"
        data-ng-click="showEditStudent($event, student, 'studentEditor')"
        data-ng-class="{'selected':selectedStudent.studentid===student.studentid}">
         
        <td>{{student.studentid}}</td><td>{{student.forename}}</td>
        <td>{{student.surname}}</td><td>{{student.email}}</td>
         
    </tr>
  </table>
</section>